.navbar{
    height: 56px;
    box-sizing:border-box;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    top: 0;
    position: fixed;
    background-color:black;
    z-index: 10;
}

.nav-left{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    width: fit-content;
}

.hamburger{
    width: 40px;
    height: 40px;
    color:white;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
}

.nav-youtubeIcon{
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    color:white;
    text-decoration: none;
}

.navabar-youtubeImg{
    color: red;
}

.navbar-youtubeTitle{
    font-size: 20px;
    
}