.profile{
    display: flex;
    width: 100%;
    padding: 10px 13px 0 13px;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.profilePage{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    flex: 1;
    margin-left: 270px;
    color: white;
    margin-top: 56px;
    justify-content: center;
    align-items: center;
}

.profileTopsection{
    width: 100%;
    display: flex;
    padding: 0 0 20px 0;
}

.profileTopsection-profile{
    width: 15%;
}

.profileTopsectionImg{
    width: 90%;
    border-radius: 50%;
}

.profileTOpsection-About{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 0 10px;
    width: 85%;
}

.profileTopsection-AboutNmae{
    font-size: 36px;
    font-weight: 500;
}

.profileTopsection-AboutInfo{
    font-size: 16px;
    color: rgb(153, 153, 153);
}

.profileVideos{
    width: 100%;
}

.profileVideoTitle{
    font-size: 22px;
    padding-bottom: 10px;
    color: rgb(207, 206, 206);
    font-weight: 500;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(153, 153, 153)
}

.profileVideosShow{
    display: flex;
    gap: 10px;
    height: 100vh;
    flex-wrap: wrap;
    margin-top: 20px;
}

.profileVideo-block{
    width: 210px;
    cursor: pointer;
}

.profilVideo-blockThumbnail{
    width: 100%;
}

.profileVideo-blockThumbnailImg{
    width: 100%;
}