.profile{
    display: flex;
    width: 100%;
    padding: 10px 13px 0 13px;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.profilePage{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    flex: 1;
    margin-left: 270px;
    color: white;
    margin-top: 56px;
    justify-content: center;
    align-items: center;
}

.profileTopsection{
    width: 100%;
    display: flex;
    padding: 0 0 20px 0;
}

.profileTopsection-profile{
    width: 15%;
}

.profileTopsectionImg{
    width: 90%;
    border-radius: 50%;
}

.profileTOpsection-About{
    
}