.login{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.7);
    position: fixed;
    top: 0;
    color: white;
    display: flex;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.loginCard{
    width: 40%;
    height: 60%;
    margin-top: 100px;
    background-color: black;
    box-sizing:border-box;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px white;
}

.loginTitlecard{
    font-size: 32px;
    font-weight: 500;
    display: flex;
    align-items:center;
    gap: 10px;
}

.loginYoutubeImg{
    color: red;
}

.loginDetail{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 25px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.loginUserName{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userNameInput{
    width: 60%;
    height: 45px;
    color: white;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #222222;
}

.loginButtons{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.loginBtn{
    width: 25%
}